body{
    background-color: lightgray;
}.button{
    background-color: white;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border-color: black;
    box-shadow: 0 5px rgb(49, 49, 49);
}
.button:active{
    background-color: rgb(192, 192, 192);
    box-shadow: 0 3px rgb(49, 49, 49);
    transform: translateY(2px);
}
.button2{
    background-color: white;
    width: 150px;
    height: 30px;
    border-radius: 8px;
    border-color: black;
    box-shadow: 0 5px rgb(49, 49, 49);
    transform: translateX(25px) translateY(10px);
}
.button2:active{
    background-color: rgb(192, 192, 192);
    box-shadow: 0 3px rgb(49, 49, 49);
    transform: translateX(25px) translateY(12px);
}
.dataTable{  
    width: 70%;
    border-collapse: collapse;
    background-image: linear-gradient(180deg, rgb(235, 235, 235) 0%, rgb(95, 95, 95) 100%);
}